:root {
  --dark-theme-main: #1e1e1e;
  --dark-theme-side: #282828;
  --dark-theme-sidebar-hover: #363636;
  --dark-theme-text: white;
  font-family: "Roboto";
  color: var(--dark-theme-text);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100svh;
  display: grid;
  grid-template-columns: 330px auto;
  grid-template-rows: 88px auto;
}

header {
  background-color: var(--dark-theme-main);
  grid-column: 2;
  grid-row: 1;
}

aside {
  background-color: var(--dark-theme-side);
  grid-column: 1;
  grid-row: 1 / span 2;
  padding: 1rem;
}

main {
  background-color: var(--dark-theme-main);
  grid-column: 2;
  grid-row: 2;
}
