:root {
  --dark-theme-main: #1e1e1e;
  --dark-theme-side: #282828;
  --dark-theme-sidebar-hover: #363636;
  --dark-theme-text: white;
  font-family: "Roboto";
  color: var(--dark-theme-text);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

:where(select, input, textarea):focus {
  box-shadow: 0 0 1rem blue;
}

:where(select, input, textarea) {
  padding-left: 1rem;
}

section.card {
  display: grid;
  grid-template-columns: auto 5fr 1fr;
  column-gap: 0.75rem;
  row-gap: 0.25rem;
  cursor: pointer;
  border-bottom: 1px solid #363636;
  padding: 1rem;

  input {
    grid-row: 1;
    grid-column: 1;
    appearance: none;
    border: 2px solid #363636;
    aspect-ratio: 1/1;
    align-self: center;
    border-radius: 50%;
  }

  input:hover {
    border-color: #008000 !important;
    background-color: #00800030 !important;
    transition: 500ms !important;
  }

  input.top {
    border-color: #ff0000;
    background-color: #ff000030;
  }

  input.high {
    border-color: #ffd700;
    background-color: #ffd70030;
  }

  input.mid {
    border-color: #4169e1;
    background-color: #4169e130;
  }

  input.low {
    border-color: #d3d3d3;
    background-color: #d3d3d330;
  }

  h2 {
    grid-row: 1;
    grid-column: 2;
  }

  p:empty {
    display: none;
  }

  p#description {
    grid-row: 2;
    grid-column: 2;
    color: gray;
    font-size: 1rem;
  }

  p#dueDate {
    grid-row: 3;
    grid-column: 2;
    color: darkcyan;
    font-size: 0.8rem;
  }

  button#delete {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    height: 100%;
    border-radius: 5px;
    background-color: #a33b31;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
  }

  button#delete:hover {
    filter: brightness(125%);
  }
}

section.card:hover {
  box-shadow: 0 0 6px #363636;
}

dialog#addTask {
  top: 100px;
  left: 350px;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #282828;
  background-color: #1e1e1e;
  width: 480px;
  z-index: 2;

  form {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 0.5rem));
    grid-template-rows: repeat(4, auto);
    gap: 1rem;

    .datepicker-dropdown {
      filter: invert(88%);
    }

    input[name="task"] {
      grid-row: 1;
      grid-column: 1 / span 3;
      background-color: #1e1e1e;
      color: white;
      font-size: 1.5rem;
      border: none;
      outline: none;
      font-weight: bold;
    }

    textarea {
      resize: none;
      grid-row: 2;
      grid-column: 1 / span 3;
      background-color: #1e1e1e;
      color: white;
      font-size: 1.25rem;
      border: none;
      outline: none;
    }

    input[name="due"] {
      background-color: #1e1e1e;
      color: white;
      border: none;
      outline: none;
      font-size: 1rem;
    }

    select[name="priority"] {
      background-color: #1e1e1e;
      border: none;
      outline: none;
      font-size: 1rem;
      color: #757575;

      option {
        color: white;
      }

      option:disabled {
        color: #757575;
      }
    }

    div.bottom {
      display: grid;
      grid-row: 4;
      grid-column: 1 / span 3;
      grid-template-columns: repeat(5, calc(100% / 5 - 0.5rem));
      padding: 1rem 0 0 0;
      border-top: 2px solid #282828;
      gap: 0.5rem;

      select[name="projects"] {
        background-color: #1e1e1e;
        color: white;
        border: none;
        outline: none;
        font-size: 1rem;
        grid-column: 1;
      }

      button {
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        color: white;
        border: none;
      }

      button:not(:disabled):hover {
        filter: brightness(125%);
      }

      button[name="btnCancel"] {
        grid-column: 4;
        background-color: #292929;
      }

      button[name="buttonAddTask"] {
        background-color: #a33b31;
        grid-column: 5;
      }

      button[name="buttonAddTask"]:disabled {
        filter: brightness(50%);
      }
    }
  }
}

dialog#addProject {
  z-index: 2;
  top: 100px;
  left: 350px;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #282828;
  background-color: #1e1e1e;
  width: 480px;

  form {
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5 - 0.5rem));
    grid-template-rows: repet(2, auto);
    gap: 0.5rem;

    input {
      grid-row: 1;
      grid-column: 1 / span 5;
      background-color: #1e1e1e;
      color: white;
      font-size: 1.5rem;
      border: none;
      outline: none;
      font-weight: bold;
    }

    button {
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.5rem;
      color: white;
      border: none;
      grid-row: 2;
    }

    button:not(:disabled):hover {
      filter: brightness(125%);
    }

    button[name="btnCancel"] {
      grid-column: 4;
      background-color: #292929;
    }

    button[name="buttonAddProject"] {
      background-color: #a33b31;
      grid-column: 5;
    }

    button[name="buttonAddProject"]:disabled {
      filter: brightness(50%);
    }
  }
}

body {
  height: 100svh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 88px auto;
}

header {
  background-color: var(--dark-theme-main);
  grid-column: 2;
  grid-row: 1;
  padding: 0 calc(25% - 1rem);
  display: flex;
  align-items: center;

  h1 {
    padding: 1rem;
  }
}

aside {
  background-color: var(--dark-theme-side);
  grid-column: 1;
  grid-row: 1 / span 2;
  padding: 1rem;
}

main {
  background-color: var(--dark-theme-main);
  grid-column: 2;
  grid-row: 2;
  padding: 0 calc(25% - 1rem);
}
